* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  height: 20%;
  background-size: cover;
}

.container2 {
  background-color: #152850;
  height: 80%;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.end {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 45px;
}

.end-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img{
  height: 70px;
}